a {
  text-decoration: none;
  color: #ddd;
}

a:hover {
  color: #ff7913;
  border-bottom: solid 1px #ddd;
}

.autocomplete-container {
  display: inline;
}

.autocomplete-dropdown-container {
  position: absolute;
  margin-left: 30%;
  width: 40%;
  z-index: 1;
}

body {
  background-color: #ddd;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #ff7913;
  border: none;
  color: #ddd;
  padding: 10px 32px;
  font-size: 16px;
  width: 15%;
  margin: 1% 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:disabled {
  border: none;
  background-color: #ff7913;
  cursor: not-allowed
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover:disabled {
  box-shadow: none;
}

.description {
  padding: 12px 20px 12px 40px;
  background-size: 20px;
  background-position: 10px 15px;
  background-repeat: no-repeat;
}

.error {
  color: #ff7913;
}

.footer {
  color: #ddd;
  padding-left: 2%;
  letter-spacing: .1em;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #241c1c;
}

.forecast-header {
  color: #012b3d;
}

h2.forecast-header {
  margin-bottom: 1%;
}

h3.forecast-header {
  margin-top: 1%;
}

.formattedDate {
  display: block;
  font-size: 14px;
  color: #555;
}

.header {
  color: #ddd;
  margin: 0;
  padding: 2%;
  font-size: 26px;
  letter-spacing: .2em;
}

.header-container {
  background-color: #012b3d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*text-align: center;*/
  align-items: center;
}

.header-img {
  height: 60px;
  /*vertical-align: */
  padding: 2%;
}

input[type=text] {
  display: inline;
  width: 30%;
  margin: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #c1bbbb;
  background: url('assets/search-icon.png') no-repeat 10px;
  background-size: 20px;
  background-color: #c1bbbb;
  padding: 12px 20px 12px 40px;
  color: #012b3d;
}

.main-container {
  text-align: center;
  margin-top: 2%;
}

.styled-select {
  overflow: hidden;
  height: 29px;
  border-radius: 5px;
  background-color: #c1bbbb;
  display: inline;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 45px;
  color: #012b3d;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.suggestion-item {
  cursor: pointer;
  background-color: #c1bbbb;
  color: #012b3d;
}

.suggestion-item--active {
  cursor: pointer;
  background-color: #012b3d;
  color: #ddd;
}


table {
  width: 60%;
  border-collapse: collapse;
}

.table-container {
  display: flex;
  justify-content: center;
}

th {
  background-color: #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #012b3d;
}

tr:hover {
  background-color: #c1bbbb;
}

.welcome-container {
  margin: 1%;
  padding-top: 10%;
}

.welcome {
  color: #012b3d;
}
