body {
  background-color: #c0bbbb;
  margin: 0;
}

.main-container {
  text-align: center;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #241c1c;

}

.header-container {
  background-color: #f7f5f5;

}

.header {
  color: #544848;
  text-align: center;
  margin-top: 0;
  padding: 2%;
  letter-spacing: .5em;
}

.footer {
  color: #f7f5f5;
  padding-left: 2%;
}



.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 60%;
}

th,
td {
  padding: 1%;
}


